body
{
    background-color: #593196;
    overflow-x: hidden;
    overflow-y: hidden;
}
.lightText
{
    color: #f9f8fc !important;
}
.darkText
{
    color: #593196 !important;
}
#leftSec
{
    display: inline-block;
}
#rightSec
{
    position: relative;
    display: inline;
    top: -27.5rem;
    left: 22.1rem;
}